
.footer{
    position: absolute;
    left:0px;
    bottom:0px;
    width:100%;
    background: #CF000F;
    height: 60px;
    
}
.footer2{
    color: #ffffff; 
    width: 50%;
    float: right;
}

#imgfoto{
    
    height: 160px; 
    width: 160px; 
    margin: auto; 
    border-color: #8D8B8B; 
    border-width: 5px; 
    border-style: solid;
}

#marco-btn{
    margin: auto; 
    height: 25px; 
    width: 120px; 
    margin-top: 10px;
}

#btn-img{
    height: 25px; 
    width: 120px;
}